*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    background: rgb(9, 9, 9);
    box-sizing: border-box;
    font-family:'Algerian'
}

.head {
   
    text-align: center;
    font-size: 45px;
    margin-top: 5px;
    color: whitesmoke;
   
    text-decoration: underline;
}
.button{
    text-align: center;
    margin: auto;
}

.container {
    text-align:center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    margin-top:10px;
    padding:10px 10px;
    color: whitesmoke;

}
#title{
    margin-bottom: 8px;
}

.image {

    text-align: center;
    justify-content: center;
}

.image img {
    height: 460px;
    width: 460px;
   
    object-fit: contain;
    /* border: 2px solid white; */
    border-radius: 8px;
   

}
.button{
    text-align: center;
    margin-top:10px;
    justify-content: space-evenly;
}
#next{
 font-size: 18px;
 font-family: 'Times New Roman', Times, serif;
 border: 2px solid whitesmoke;
margin-right: 8px;
 padding: 5px 8px;
 background-color: aliceblue;
 color:black;
border-radius: 6px;
 font-weight: 300;
 cursor: pointer;
}

#download{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid whitesmoke;
   text-decoration: none;
    padding: 5px 8px;
    background-color: aliceblue;
    color:black;
   border-radius: 6px;
    font-weight: 300;
    cursor: pointer;
}
#download a{
    text-decoration: none;
    color:black;
}

@media (min-width:300px) and (max-width:400px)
{
.head{
    font-size: 28px;
}
.image img{
    width: 295px;
    height: 310px;
}
.container p{
    font-size: 18px;
}
.button button{
    font-size: 18px;
}
}
@media (min-width:400px) and (max-width:450px)
{
.head{
    font-size: 30px;
}
.image img{
    width: 385px;
    height: 390px;
}
.container p{
    font-size:20px;
}
.button button{
    font-size: 20px;
}
}
